<% provide(:title, "#{@user.name}'s Blog") %>

<div class="users-bg">

<%= render 'nav' %>

<div class="text-center">

<%= render 'billboard' %>

<div class="container">

<!-- Contains User Posts -->

<div class="box">

<% @posts.each do |post| %>

<h4><%= link_to post.title, post %></h4>

<p>
<%= post.created_at.strftime("%b %d %Y") %>
</p>

<% if post.image.exists? %>
	<p><%= image_tag post.image.url(:medium) %></p>
<% end %>

<p>
<%= post.content.html_safe %>
</p>

<% if post.private == true %>
<p>
<em>Private Post</em>
</p>
<% end %>

<% if user_signed_in? %>
<% if current_user == post.user || current_user.admin? %>

<%= link_to "Edit", edit_post_path(post) %> | 
<%= link_to "Delete", post, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<% end %>

<p style="padding-bottom: 40px;"></p>

<% end %>

</div>

<!-- End of User Posts -->

<p>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</p>

</div>
</div>

<%= render "users/footer" %>

</div>