<% if user_signed_in? %>
<% if @user == current_user %>
<%= link_to "New Post", new_post_path %>
<% end %>
<% end %>

<h1><%= @user.name %>'s Blog</h1>

<% @posts.each do |post| %>

<h2><%= link_to post.title, post %></h2>

<p>
	<em>Posted: <%= post.created_at.strftime("%b %d %Y") %>&nbsp;</em>By:</em> <%= link_to @user.name, @user %>
</p>

<p>
<%= post.content.html_safe %>
</p>

<% if user_signed_in? %>
<% if post.user == current_user || current_user.admin? %>

<% if post.private == true %>
<p>
<em>Private Post</em>
</p>
<% end %>

<%= link_to "Edit", edit_post_path(post) %> | 
<%= link_to "Delete", post, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<% end %>

<% end %>

<%= will_paginate @posts %>