<% if user_signed_in? %>
<% if @user == current_user %>
<%= link_to "New Post", new_post_path %>
<% end %>
<% end %>

<h1><%= @user.name %>'s Blog</h1>

<% @posts.each do |post| %>

<h2><%= link_to post.title, post %></h2>

<p>
	<em>Posted: <%= post.created_at.strftime("%b %d %Y") %>&nbsp;</em>By:</em> <%= link_to @user.name, @user %>
</p>

<% if post.image.exists? %>
	<p><%= image_tag post.image.url(:medium) %></p>
<% end %>

<p>
<%= post.content.html_safe %>
</p>

<% if user_signed_in? %>
<% if post.user == current_user || current_user.admin? %>

<% if post.private == true %>
<p>
<em>Private Post</em>
</p>
<% end %>

<div class="vote">

<% if user_signed_in? %>

  <%= render partial: 'vote', locals: {post: post} %>

<% else %>

  <%= link_to "Like", new_user_session_path, alert: "Please login to vote." %>

<p>
  <strong>Likes:</strong>
  <%= post.score %>
</p>

<% end %>

</div>

<%= link_to "Edit", edit_post_path(post) %> | 
<%= link_to "Delete", post, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<% end %>

<% end %>

<%= will_paginate @posts %>