<h1>Latest posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Content</th>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= link_to post.user.name, post.user %></td>
        <td>
          <% if post.image.exists? %>
            <p><%= image_tag post.image.url(:thumb) %></p>
          <% end %>
          <%= strip_tags(post.content) %>
        </td>
        <td><%= "#{post.score} Likes" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
