<% provide(:title, "My Blog") %>

<%= render "layouts/nav" %>

<div class="text-center">

<%= render 'billboard' %>

<div class="container front-page">

    <div class="row row-centered">

    <% @posts.each do |post| %>

        <div class="col-md-9 col-centered">

        <h3><%= link_to post.title, post %></h3>

        <%= post.created_at.strftime("%b %d %Y") %> | 
        <%= link_to post.user.name, post.user %>

        <p></p>

        <% if post.image.exists? %>
        <p><%= image_tag post.image.url(:thumb) %></p>
        <% end %>

        <p><%= h truncate(strip_tags(post.content), length: 400) %></p>
  
        <p><%= "#{post.score} Likes" %></p>

        </div>

    <% end %>

</div>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

</div>

</div>

<%= render "layouts/footer" %>
