<% provide(:title, "#{@post.title}") %>

<%= render 'nav' %>

<div class="container">
<div class="text-center">

<h2><%= @post.title %></h2>

<p>
  <%= @post.created_at.strftime("%b %d %Y") %> | <%= link_to @post.user.name, @post.user %>
</p>

<% if @post.image.exists? %>

<p>
  <%= image_tag @post.image.url(:medium) %>
</p>

<% end %>

<p>
  <%= @post.content.html_safe %>
</p>

<p>

<div class="vote">

<% if user_signed_in? %>

  <%= render 'vote' %>

<% else %>

  <%= link_to "Like", new_user_session_path, alert: "Please login to vote." %>

<p>
  <%= @post.score %> Likes
</p>

<% end %>

</div>

</p>


  <% if @post.private == true %>
    <em>Private Post</em>
  <% end %>

<p>
  <%= social_share_button_tag("My Blog") %>
</p>

</div>

<% if user_signed_in? %>
	<% if current_user == @post.user || current_user.admin? %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Destroy', @post, method: :delete, data: {confirm: "Are you sure?"} %>
	<% end %>
<% end %>

<p>
<%= render "disqus" %>
</p>
</div>